# payLoyal V2 Network & Contract Registry Configuration
NEXT_PUBLIC_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org

# Testnet Deployed Contracts (Fallbacks are set in code if not defined)
NEXT_PUBLIC_ESCROW_CONTRACT_ID=CA2CPOMEE7EBGSSVU62T6HLG44WDOVEZAGTQGVW3KGV6PJ62R765IJEJ
NEXT_PUBLIC_LOYALTY_CONTRACT_ID=CCIWJOKEYK623T4O72D6Q3W4H5LSPYCRQ6Z47VQDTRMEYV3JCPXU636F
NEXT_PUBLIC_RESOLVER_CONTRACT_ID=CC3JOKEYK623T4O72D6Q3W4H5LSPYCRQ6Z47VQDTRMEYV3JCPXU63RESOLV
