NEXT_PUBLIC_ESCROW_CONTRACT_ID=
NEXT_PUBLIC_RESOLVER_CONTRACT_ID=
NEXT_PUBLIC_LOYALTY_CONTRACT_ID=
NEXT_PUBLIC_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org
